header {
    background-color: whitesmoke;
    color: black;
    width: 100%;
    height: 50px;
    line-height: 30px;
    text-align: center;
}
input, textarea, select {

    width: 200px;
    padding: 12px;
    border: 1px solid rgb(197, 195, 195);
    
}
.bookTable {
    margin-left: auto;
    margin-right: auto;
}

label {
    font-size: medium;
    font-style: normal;
    font-family: 'Times New Roman';
}
input[type="submit"]:hover {
    background-color: rgb(24, 99, 17);
    color: white;
}

tr:nth-child(even) {
    background-color: #dddada;
}


footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px;
    width: 100%;
    height: 50px;
}